p {
  font-family:Arial, Helvetica, sans-serif ;
}
.btn1{
  background-color: rgb(70, 100, 125);
  color: rgb(255, 255, 255);
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  transition:opacity 0.15s;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  transition:box-shadow 0.1s;
  vertical-align: baseline;
}
.btn1:hover{
  background-color: rgb(85, 141, 179);
  opacity: 0.9;
}
.btn1:active{
  opacity: 0.5;
}


.video-title{
    font-size: 25px;
    width: 300px;
    text-align: center;
    line-height: 150%;
  }
  .span-example:hover{
    text-decoration: underline;
    color: blue;
  }

}
